.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
